.learning-box {
  border: 1px solid #ccc;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-left: 20vw;
  width: 800px;
}

.header {
  font-size: 25px;
  font-weight: bold;
  font-family: 'DM Sans', sans-serif;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.grid-item {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: break-spaces;
  width: calc(50% - 6px);
  font-family: 'DM Sans', sans-serif;
}

.icon {
  font-size: 20px;
  margin-right: 10px;
}